<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="uk_UA.utf-8">
	<entry>
		<string>logout</string>
		<translation>вийти</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="103" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[по імені]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="251" />
		</references>
	</entry>
	<entry>
		<string>Main Menu</string>
		<translation>Головне меню</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="405" />
		</references>
	</entry>
</translations>
