<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fr_FR.utf-8">
<entry><string>View the site back end interface</string><translation>Voir l'interface back end du site.</translation>		<references>
			<reference file="code/modules/base/xartemplates/blocks/menu.xt" line="74"/>
		</references>
</entry>
</translations>
