<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="sv_SE.utf-8">
	<entry>
		<string>CP Shop - Cafe Press for Xaraya</string>
		<translation></translation>
		<references>
			<reference file="modules/xarcpshop/xaradminapi/menu.php" line="22" />
		</references>
	</entry>
	<entry>
		<string>New Shop</string>
		<translation></translation>
		<references>
			<reference file="modules/xarcpshop/xaradminapi/menu.php" line="30" />
		</references>
	</entry>
	<entry>
		<string>Product Types</string>
		<translation></translation>
		<references>
			<reference file="modules/xarcpshop/xaradminapi/menu.php" line="38" />
		</references>
	</entry>
</translations>
