<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="pt_BR.utf-8">
	<entry>
		<string>Modules</string>
		<translation>Módulos</translation>
		<references>
			<reference file="themes/xaraya_sealife/modules/base/blocks/menu.xt" line="50" />
		</references>
	</entry>
	<entry>
		<string>Print View</string>
		<translation></translation>
		<references>
			<reference file="themes/xaraya_sealife/modules/base/blocks/menu.xt" line="110" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation></translation>
		<references>
			<reference file="themes/xaraya_sealife/modules/base/blocks/menu.xt" line="123" />
		</references>
	</entry>
</translations>
