<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_EC.utf-8">
	<entry>
		<string>Dynamic Example</string>
		<translation></translation>
		<references>
			<reference file="modules/dyn_example/xaruserapi/menu.php" line="12" />
		</references>
	</entry>
</translations>
