<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="en_BORK.utf-8">
	<entry>
		<string>Print View</string>
		<translation>Preent Feeoo</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="103" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation>Syndeeceshun</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="108" />
		</references>
	</entry>
</translations>
