<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_MX.utf-8">
	<entry>
		<string>New Messages</string>
		<translation>Mensajes Nuevos</translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="26" />
		</references>
	</entry>
	<entry>
		<string>View Messages</string>
		<translation>Ver Mensajes</translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="27" />
		</references>
	</entry>
	<entry>
		<string>Modify Messages Config</string>
		<translation>Modificar Configuraci&amp;#243;n de Mensajes</translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="28" />
		</references>
	</entry>
</translations>
