<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="da_DK.utf-8">
	<entry>
		<string>logout</string>
		<translation>log af</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="114" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>Ingen beskrivelse</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="320" />
			<reference file="modules/base/xarblocks/menu.php" line="336" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[efter navn]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="348" />
		</references>
	</entry>
</translations>
