<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="zh_CN.utf-8">
	<keyEntry>
		<key>MESSAGES</key>
		<translation>站内通讯</translation>
		<references>
			<reference file="modules/messages/xaruserapi/menu.php" line="12" />
		</references>
	</keyEntry>
	<keyEntry>
		<key>MESSAGESVIEW</key>
		<translation>查看通讯</translation>
		<references>
			<reference file="modules/messages/xaruserapi/menu.php" line="15" />
		</references>
	</keyEntry>
</translations>
