<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
	<entry>
		<string>View example items</string>
		<translation>Beispielseinträge anzeigen</translation>
		<references>
			<reference file="modules/example/xaruserapi/menu.php" line="28" />
		</references>
	</entry>
	<entry>
		<string>Some other menu item</string>
		<translation>Ein anderer Menüpunkt</translation>
		<references>
			<reference file="modules/example/xaruserapi/menu.php" line="32" />
		</references>
	</entry>
</translations>
