<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="pl_PL.utf-8">
	<entry>
		<string>logout</string>
		<translation>wyloguj</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="96" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[wg. nazwy]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="237" />
		</references>
	</entry>
	<entry>
		<string>Display Modules</string>
		<translation>Wyświetl Moduły</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="303" />
		</references>
	</entry>
	<entry>
		<string>Marker</string>
		<translation>Znacznik</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="311" />
		</references>
	</entry>
	<entry>
		<string>Menu Content</string>
		<translation>Zawartość Menu</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="316" />
		</references>
	</entry>
	<entry>
		<string>Title</string>
		<translation>Tytuł</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="318" />
		</references>
	</entry>
	<entry>
		<string>URL</string>
		<translation>URL</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="319" />
		</references>
	</entry>
	<entry>
		<string>Description</string>
		<translation>Opis</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="320" />
		</references>
	</entry>
	<entry>
		<string>Delete</string>
		<translation>Usuń</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="321" />
		</references>
	</entry>
	<entry>
		<string>New Line</string>
		<translation>Nowa Linia</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="338" />
		</references>
	</entry>
	<entry>
		<string>Main Menu</string>
		<translation>Menu Główne</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="389" />
		</references>
	</entry>
</translations>
