<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="ru_RU.utf-8">
	<entry>
		<string>Print View</string>
		<translation>Вид для печати</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="122" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation>Заголовки новостей</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="135" />
		</references>
	</entry>
</translations>
