<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="zh_CN.utf-8">
	<entry>
		<string>New Messages</string>
		<translation></translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="15" />
		</references>
	</entry>
	<entry>
		<string>View Messages</string>
		<translation></translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="16" />
		</references>
	</entry>
	<entry>
		<string>Modify Messages Config</string>
		<translation></translation>
		<references>
			<reference file="modules/messages/xaradminapi/menu.php" line="17" />
		</references>
	</entry>
</translations>
