<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_MX.utf-8">
	<entry>
		<string>HelpDesk Administration</string>
		<translation>Administraci&amp;#243;n del Centro de Atenci&amp;#243;n</translation>
		<references>
			<reference file="modules/helpdesk/xaradminapi/menu.php" line="26" />
		</references>
	</entry>
</translations>
