<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_ES.utf-8">
	<entry>
		<string>logout</string>
		<translation>Cerrar sesión</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="109" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>No hay descripción</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="301" />
			<reference file="modules/base/xarblocks/menu.php" line="317" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[por nombre]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="329" />
		</references>
	</entry>
</translations>
