<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="hu_HU.utf-8">
<entry><string>View example items</string><translation>Minta elem megjelenítése</translation></entry>
<entry><string>Some other menu item</string><translation>Egyéb menüelemek</translation></entry>
</translations>
