<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fi_FI.utf-8">
<entry><string>logout</string><translation>uloskirjautuminen</translation></entry>
<entry><string>No description</string><translation>Ei kuvausta</translation></entry>
<entry><string>[by name]</string><translation>[nimen mukaan]</translation></entry>
</translations>
