<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fr_FR.utf-8">
<entry><string>hello</string><translation></translation>		<references>
			<reference file="themes/jrenum/blocks/menu.xt" line="10"/>
			<reference file="themes/jrenum/blocks/menu.xt" line="36"/>
			<reference file="themes/jrenum/blocks/menu.xt" line="66"/>
			<reference file="themes/jrenum/blocks/menu.xt" line="126"/>
		</references>
</entry>
<entry><string>Modules</string><translation></translation>		<references>
			<reference file="themes/jrenum/blocks/menu.xt" line="38"/>
		</references>
</entry>
<entry><string>Controls</string><translation></translation>		<references>
			<reference file="themes/jrenum/blocks/menu.xt" line="64"/>
		</references>
</entry>
<entry><string>View the site back end interface</string><translation></translation>		<references>
			<reference file="themes/jrenum/blocks/menu.xt" line="78"/>
		</references>
</entry>
</translations>
