<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
<entry><string>#xarTplGetThemeDir()#</string><translation></translation>		<references>
			<reference file="themes/icesite/pages/module.xt" line="12" />
		</references>
</entry>
<entry><string>Delivers the main module in XML contenttype for DOM manipulation and remote
module content (note the contenttype above).</string><translation></translation>		<references>
			<reference file="themes/icesite/pages/module.xt" line="26" />
		</references>
</entry>
</translations>
