<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="nl_NL.utf-8">
<entry><string>logout</string><translation>afmelden</translation></entry>
<entry><string>No description</string><translation>Geen beschrijving</translation></entry>
<entry><string>[by name]</string><translation>[op naam]</translation></entry>
</translations>
