<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fi_FI.utf-8">
	<entry>
		<string>Contact Us</string>
		<translation>Ota yhteyttä</translation>
		<references>
			<reference file="modules/sitecontact/xaruser/menu.php" line="24" />
			<reference file="modules/sitecontact/xaruser/menu.php" line="26" />
		</references>
	</entry>
</translations>
