<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
<entry><string>&gt;</string><translation></translation>		<references>
			<reference file="code/modules/publications/xartemplates/includes/menu.xt" line="76"/>
			<reference file="code/modules/publications/xartemplates/includes/menu.xt" line="114"/>
		</references>
</entry>
<entry><string>[*]</string><translation></translation>		<references>
			<reference file="code/modules/publications/xartemplates/includes/menu.xt" line="108"/>
		</references>
</entry>
<entry><string>v</string><translation></translation>		<references>
			<reference file="code/modules/publications/xartemplates/includes/menu.xt" line="120"/>
		</references>
</entry>
</translations>
