<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="ru_RU.utf-8">
	<keyEntry>
		<key>MESSAGES</key>
		<translation>Сообщения</translation>
		<references>
			<reference file="modules/messages/xaruserapi/menu.php" line="12" />
		</references>
	</keyEntry>
	<keyEntry>
		<key>MESSAGESVIEW</key>
		<translation>Просмотр сообщений</translation>
		<references>
			<reference file="modules/messages/xaruserapi/menu.php" line="15" />
		</references>
	</keyEntry>
</translations>
