<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="nl_NL.utf-8">
	<entry>
		<string>Configuration Main Menu</string>
		<translation></translation>
		<references>
			<reference file="modules/ledger/xarconfig.php" line="34" />
		</references>
	</entry>
	<entry>
		<string>Text</string>
		<translation></translation>
		<references>
			<reference file="modules/ledger/xarconfig.php" line="67" />
		</references>
	</entry>
	<entry>
		<string>Icons</string>
		<translation></translation>
		<references>
			<reference file="modules/ledger/xarconfig.php" line="68" />
		</references>
	</entry>
	<entry>
		<string>Update</string>
		<translation></translation>
		<references>
			<reference file="modules/ledger/xarconfig.php" line="76" />
			<reference file="modules/ledger/xarconfig.php" line="171" />
			<reference file="modules/ledger/xarconfig.php" line="251" />
			<reference file="modules/ledger/xarconfig.php" line="291" />
			<reference file="modules/ledger/xarconfig.php" line="312" />
		</references>
	</entry>
</translations>
