<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="hu_HU.utf-8">
<entry><string>Show print friendly view</string><translation>Nyomtatási nézet megjelenítése</translation></entry>
<entry><string>Print View</string><translation>Nyomtatási nézet</translation></entry>
<entry><string>Show RSS format</string><translation>RSS formátum megjelenítése</translation></entry>
<entry><string>Syndication</string><translation>Hírszolgáltatás</translation></entry>
</translations>
