<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_MX.utf-8">
	<entry>
		<string>Show print friendly view</string>
		<translation>Mostrar vista amigable a impresi&amp;#243;n</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="102" />
		</references>
	</entry>
	<entry>
		<string>Print View</string>
		<translation>Vista de Impresi&amp;#243;n</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="102" />
		</references>
	</entry>
	<entry>
		<string>Show RSS format</string>
		<translation>Mostrar formato RSS</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="109" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation>RSS - Redifusi&amp;#243;n</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="109" />
		</references>
	</entry>
</translations>
