<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="en_BORK.utf-8">
	<entry>
		<string>logout</string>
		<translation>luguoot</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="108" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>Nu descreepshun</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="272" />
			<reference file="modules/base/xarblocks/menu.php" line="288" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[by neme-a]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="300" />
		</references>
	</entry>
</translations>
