<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
<entry><string>Type:</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="10" />
		</references>
</entry>
<entry><string>CSV</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="22" />
			<reference file="modules/export/xartemplates/includes/config.xd" line="36" />
		</references>
</entry>
<entry><string>XML</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="52" />
			<reference file="modules/export/xartemplates/includes/config.xd" line="66" />
		</references>
</entry>
<entry><string>Excel</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="82" />
			<reference file="modules/export/xartemplates/includes/config.xd" line="96" />
		</references>
</entry>
<entry><string>Begin CSV Options</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="108" />
		</references>
</entry>
<entry><string>CSV Export Characteristics</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="120" />
		</references>
</entry>
<entry><string>Field Separator Character:</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="132" />
		</references>
</entry>
<entry><string>Field Enclose Character:</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="146" />
		</references>
</entry>
<entry><string>Field Escape Character:</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="160" />
		</references>
</entry>
<entry><string>Begin XML Options</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="190" />
		</references>
</entry>
<entry><string>XML Export Characteristics</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="202" />
		</references>
</entry>
<entry><string>Begin XLS Options</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="224" />
		</references>
</entry>
<entry><string>Excel Export Characteristics</string><translation></translation>		<references>
			<reference file="modules/export/xartemplates/includes/config.xd" line="236" />
		</references>
</entry>
</translations>
