<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="it_IT.utf-8">
	<entry>
		<string>Subitems Administration</string>
		<translation>Amministrazione Sottoelementi (Subitems)</translation>
		<references>
			<reference file="modules/subitems/xaradminapi/menu.php" line="11" />
		</references>
	</entry>
</translations>
