<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fr_FR.utf-8">
	<entry>
		<string>Some other menu item</string>
		<translation></translation>
		<references>
			<reference file="modules/courses/xaruserapi/menu.php" line="28" />
		</references>
	</entry>
	<keyEntry>
		<key>COURSES</key>
		<translation></translation>
		<references>
			<reference file="modules/courses/xaruserapi/menu.php" line="23" />
		</references>
	</keyEntry>
	<keyEntry>
		<key>COURSESVIEW</key>
		<translation></translation>
		<references>
			<reference file="modules/courses/xaruserapi/menu.php" line="25" />
		</references>
	</keyEntry>
</translations>
