<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="el_GR.utf-8">
<entry><string>Show print friendly view</string><translation></translation></entry>
<entry><string>Print View</string><translation>Εμφάνιση Εκτύπωσης</translation></entry>
<entry><string>Show RSS format</string><translation></translation></entry>
<entry><string>Syndication</string><translation>Syndication</translation></entry>
</translations>
