<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="hu_HU.utf-8">
<entry><string>logout</string><translation>kilépés</translation></entry>
<entry><string>No description</string><translation>Nincs leírás</translation></entry>
<entry><string>[by name]</string><translation>[név szerint]</translation></entry>
</translations>
