<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fr_FR.utf-8">
	<entry>
		<string>Events Administration</string>
		<translation></translation>
		<references>
			<reference file="modules/events/xaradminapi/menu.php" line="12" />
		</references>
	</entry>
	<entry>
		<string>-=Global Settings=-</string>
		<translation></translation>
		<references>
			<reference file="modules/events/xaradminapi/menu.php" line="13" />
		</references>
	</entry>
	<entry>
		<string>-=Indicate Required Fields=-</string>
		<translation></translation>
		<references>
			<reference file="modules/events/xaradminapi/menu.php" line="14" />
		</references>
	</entry>
</translations>
