<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
<entry><string>logout</string><translation>Abmelden</translation></entry>
<entry><string>No description</string><translation>Keine Beschreibung</translation></entry>
<entry><string>[by name]</string><translation>[nach Namen]</translation></entry>
</translations>
