<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="ja_JP.utf-8">
	<entry>
		<string>logout</string>
		<translation>ログアウト</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="111" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>説明はありません</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="283" />
			<reference file="modules/base/xarblocks/menu.php" line="299" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[名前別]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="311" />
		</references>
	</entry>
</translations>
