<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="lt_LT.utf-8">
	<entry>
		<string>logout</string>
		<translation>atsijungti</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="111" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>Nėra aprašymo</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="287" />
			<reference file="modules/base/xarblocks/menu.php" line="303" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[pagal vardą]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="315" />
		</references>
	</entry>
</translations>
