<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fr_FR.utf-8">
	<entry>
		<string>Print View</string>
		<translation>Imprimer la Page</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="102" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation>Syndication</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="109" />
		</references>
	</entry>
</translations>
