<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="it_IT.utf-8">
	<entry>
		<string>Some other menu item</string>
		<translation>Altri oggetti del menu</translation>
		<references>
			<reference file="modules/contact/xaruserapi/menu.php" line="19" />
		</references>
	</entry>
	<keyEntry>
		<key>CONTACT</key>
		<translation>CONTATTI</translation>
		<references>
			<reference file="modules/contact/xaruserapi/menu.php" line="12" />
		</references>
	</keyEntry>
</translations>
