<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="de_DE.utf-8">
	<entry>
		<string>Print View</string>
		<translation>Druckansicht</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="122" />
		</references>
	</entry>
	<entry>
		<string>Syndication</string>
		<translation>Syndikation</translation>
		<references>
			<reference file="modules/base/xartemplates/blocks/menu.xd" line="135" />
		</references>
	</entry>
</translations>
