<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="fi_FI.utf-8">
<entry><string>Show print friendly view</string><translation>Näytä tulostamiseen soveltuva näkymä</translation></entry>
<entry><string>Print View</string><translation>Tulostusnäkymä</translation></entry>
<entry><string>Show RSS format</string><translation>Näytä RSS-muodossa</translation></entry>
<entry><string>Syndication</string><translation>Syndikointi</translation></entry>
</translations>
