<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="zh_TW.utf-8">
	<entry>
		<string>logout</string>
		<translation>登出</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="108" />
		</references>
	</entry>
	<entry>
		<string>No description</string>
		<translation>沒有描述</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="272" />
			<reference file="modules/base/xarblocks/menu.php" line="288" />
		</references>
	</entry>
	<entry>
		<string>[by name]</string>
		<translation>[根據姓名]</translation>
		<references>
			<reference file="modules/base/xarblocks/menu.php" line="300" />
		</references>
	</entry>
</translations>
