<?xml version="1.0" encoding="utf-8"?>
<translations xmlns="http://xaraya.com/2002/ns/translations" locale="es_MX.utf-8">
	<entry>
		<string>Save was successful!</string>
		<translation>&amp;#161;Se guard&amp;#243; exitosamente!</translation>
		<references>
			<reference file="modules/security/xarajax/server.php" line="54" />
		</references>
	</entry>
</translations>
